In [1]:
import pandas as pd
import numpy as np

In [3]:
sal = pd.read_csv('Salaries.csv', low_memory=False)
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
sal.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [6]:
len(sal)

148654

In [13]:
# converter o valores do 'BasePay' para numerico
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')

# Calcular a m√©dia da coluna 'BasePay'
mean_basepay = sal['BasePay'].mean()
mean_basepay

66325.4488404877

In [15]:
# converter o valores do 'BasePay' para numerico
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
max_value_overtime_pay = sal['OvertimePay'].max()
max_value_overtime_pay

245131.88

In [21]:
# qual o cargo da pessoa de JOSEPH DRISCOLL
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [22]:
# Quando o JOSEPH DRISCOLL ganhar (incluindo beneficios)
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [31]:
# Qual o nome da pessoa mais bem paga
maior_salario = sal['TotalPayBenefits'].max()
sal[sal['TotalPayBenefits'] == maior_salario]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [34]:
# qual o nome da pessoa paga mais baixa incluindo beneficios
menor_salario = sal['TotalPayBenefits'].min()
sal[sal['TotalPayBenefits'] == menor_salario]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [44]:
# Qual foi a media BasePay de todos os funcionarios por ano ? (2011 - 2014)
salaries_by_2011_from_2014 = sal.groupby('Year')['BasePay'].mean()
salaries_by_2011_from_2014

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [47]:
# quantos titulos de trabalhos unicos
len(sal['JobTitle'].unique())

2159

In [53]:
# quais s√£o os 5 titulo de trabalho mais comum
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [60]:
# Quantos titulos de trabalho foram representados por apenas uma pessoa em 2013
unique_title_job_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1
sum(unique_title_job_2013)

202

In [66]:
# quantas pessoas tem a palavra chefe em seu cargo
def chefe_string(title):
    if 'chief' in str(title).lower():
        return True
    else:
        return False

In [75]:
filter_jobtitle_chief = sal['JobTitle'].apply(lambda x: chefe_string(x))
sal[filter_jobtitle_chief]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,PT
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,PT
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,PT
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,PT
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,PT

In [76]:
sum(sal['JobTitle'].apply(lambda x: chefe_string(x)))

627

In [80]:
#BONUS: Existe uma correla√ß√£o entre comprimento da sequencia d titulo do trabalho e o sal√°rio
sal['lenTitle'] = sal['JobTitle'].apply(len)

In [82]:
sal[['lenTitle', 'TotalPayBenefits']].corr()

                  lenTitle  TotalPayBenefits
lenTitle          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000